.full-container {
  width: 100% !important;
}

/* .row {
  margin-left: calc((100vw - 100%) / -2) !important;
  padding-left: calc((100vw - 100%) / 2) !important;
  margin-right: calc((100vw - 100%) / -2) !important;
  padding-right: calc((100vw - 100%) / 2) !important;
} */

/* .img-1 {
  content: url(https://images.pexels.com/photos/3279692/pexels-photo-3279692.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.img-2 {
  content: url(https://images.pexels.com/photos/3695476/pexels-photo-3695476.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  display: block;
  position: absolute;
  flex-direction: row-reverse;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.img-3 {
  content: url(https://images.pexels.com/photos/6261100/pexels-photo-6261100.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}  */

.jumbo-img {
  height: 650px;
  background-image: url('https://images.pexels.com/photos/111117/pexels-photo-111117.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  background-size: cover;
}

