.jumbo-img {
  height: 650px;
  background-image: url('https://images.pexels.com/photos/111117/pexels-photo-111117.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  background-size: cover;
}

.header-1 {
  white-space: pre-line;
  color: #ffffff;
  display: block;
  margin-block-start: 7.4em;
  margin-block-end: 0.85em;
  margin-inline-start: 0.3em;
  margin-inline-end: 0em;
  font-weight: bold;
}