.header-quote-1 {
  white-space: pre-line;
  color: #101010;
  display: block;
  margin-block-start: 2.5em;
  margin-block-end: 0.85em;
  margin-inline-start: 0.3em;
  margin-inline-end: 0em;
  font-weight: bold;
}

.color-1 {
  background-color: #ffffff;
  min-width: 100%;
  height: 250px;
}