.full-container {
  min-width: 100%;
  padding-right: 0;
  margin-right: auto;
  padding-left: 0;
  margin-left: auto;
}

.text-title {
  font-size: 54px;
}

.text-description {
  font-size: 20px;
  padding-top: 12vh;
}

.img-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.img-wrapper img {
  position: absolute;
  top:0;
  left:0;
  min-width: 100%;
  height:100%;
}

.img-1 {
  content: url(https://images.unsplash.com/photo-1594629609229-6b49ceec38af?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80);
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.img-2 {
  content: url(https://images.unsplash.com/photo-1535276811207-1bcae679870e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
  flex-direction: row-reverse;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.img-3 {
  content: url(https://images.unsplash.com/photo-1523170700570-a69ddb303c08?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
